html, body {
	height: 99%;
	overflow: hidden;
}

body {
	display: flex;
	box-sizing: border-box;
	justify-content: space-around;
	flex-direction: column;
}

a {
	text-decoration: none;
}

a:hover, a.hovering {
	background-color: black;
	color: white;
	text-decoration: none;
}

.selected {
    font-weight: bold;
}

header {
	flex: 1 7 0;
}

main {
	flex: 7 1 auto;
}

footer {
	flex: 1 7 0;
}

.smalltext {
	font-size: small;
}

.justified {
	text-align: justify;
}

.centered {
	text-align: center;
}

h1 {
    color: purple;
}